.container {
    position: relative;
    width: 1024px;
    height: 768px;
    background: no-repeat center/cover url('../../imgs/brand_page/bg.jpg');
}

.titleContainer {
    position: absolute;
    top: 170px;
    left: 350px;
}

.titleContainer > p {
    font-family: 'DINPro', sans-serif;
    font-size: 27px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.titleContainer > .brand {
    font-size: 95px;
    letter-spacing: 5px;
    margin-left: -9px;
}

.postsContainer {
    position: absolute;
    top: 380px;
    right: 80px;
    font-family: 'MyriadPro', sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #242424;
}

.postsContainer > .post1 {
    position: absolute;
    top: 0;
    right: 300px;
    width: 415px;
    height: 265px;
    padding-top: 50px;
    padding-left: 125px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 10px 10px 250px 18px rgba(153, 204, 204, .39);
}

.postsContainer > .post1 > img {
    position: absolute;
    left: 125px;
    top: -35px;
    width: 65px;
}

.postsContainer > .post1 > p {
    width: 240px;
}

.postsContainer > .post2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 265px;
    height: 150px;
    padding-top: 50px;
    padding-left: 45px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 10px 10px 250px 18px rgba(153, 204, 204, .39);
}

.postsContainer > .post2 > img {
    position: absolute;
    left: 40px;
    top: -25px;
    width: 70px;
}

.imgContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 100%;
}

.bottle {
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 230px;
    z-index: 15;
}

.blueBubble {
    position: absolute;
    bottom: 0;
    left: 185px;
    width: 140px;
    z-index: 16;
    animation-name: swim1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.lightblueBubble1 {
    position: absolute;
    top: 75px;
    left: 200px;
    width: 35px;
    z-index: 16;
    animation-name: swim2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.lightblueBubble2 {
    position: absolute;
    top: 150px;
    left: 185px;
    width: 70px;
    z-index: 16;
    animation-name: swim3;
    animation-duration: 22s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.lightblueBubble3 {
    position: absolute;
    top: 450px;
    left: 12px;
    width: 35px;
    z-index: 14;
    animation-name: swim4;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.lightblueBubble4 {
    position: absolute;
    bottom: 115px;
    left: 240px;
    width: 60px;
    z-index: 14;
    animation-name: swim5;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.pinkBubble1 {
    position: absolute;
    top: 315px;
    left: 190px;
    width: 110px;
    z-index: 14;
    animation-name: swim6;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.pinkBubble2 {
    position: absolute;
    bottom: 140px;
    left: 25px;
    width: 75px;
    transform: rotate(90deg);
    z-index: 16;
    animation-name: swim7;
    animation-duration: 23s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.redBubble {
    position: absolute;
    top: 210px;
    left: 80px;
    width: 30px;
    z-index: 14;
    animation-name: swim8;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes swim1 {
    from {
        transform: translate(20px)
    }
    to {
        transform: translate(-15px)
    }
}

@keyframes swim2 {
    from {
        transform: translate(0, 0)
    }
    @for $i from 1 through 3 {
        #{($i * 25%)} {
            transform: translate( (random(10) * 10px), (random(10) * 10px) )
        }
    }
    to {
        transform: translate(0, 0)
    }
}

@keyframes swim3 {
    from {
        transform: translate(0, 0)
    }
    @for $i from 1 through 3 {
        #{($i * 25%)} {
            transform: translate( (random(10) * 15px), (random(10) * -15px) )
        }
    }
    to {
        transform: translate(0, 0)
    }
}

@keyframes swim4 {
    from {
        transform: translate(0, 0)
    }
    @for $i from 1 through 3 {
        #{($i * 25%)} {
            transform: translate( (random(10) * -5px), (random(10) * 10px) )
        }
    }
    to {
        transform: translate(0, 0)
    }
}

@keyframes swim5 {
    from {
        transform: translate(0, 0)
    }
    @for $i from 1 through 3 {
        #{($i * 25%)} {
            transform: translate( (random(10) * 10px), (random(10) * -15px) )
        }
    }
    to {
        transform: translate(0, 0)
    }
}

@keyframes swim6 {
    from {
        transform: translate(0, 0)
    }
    @for $i from 1 through 3 {
        #{($i * 25%)} {
            transform: translate( (random(10) * 10px), (random(10) * 10px) )
        }
    }
    to {
        transform: translate(0, 0)
    }
}

@keyframes swim7 {
    from {
        transform: translate(0, 0)
    }
    @for $i from 1 through 3 {
        #{($i * 25%)} {
            transform: translate( (random(10) * 10px), (random(10) * 15px) )
        }
    }
    to {
        transform: translate(0, 0)
    }
}

@keyframes swim8 {
    from {
        transform: translate(0, 0)
    }
    @for $i from 1 through 3 {
        #{($i * 25%)} {
            transform: translate( (random(10) * -5px), (random(10) * 10px) )
        }
    }
    to {
        transform: translate(0, 0)
    }
}

